.libro-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.libro-imagen img {
    margin-right: 20px;
}

.libro-detalles {
    display: flex;
    flex-direction: column;
}

.libro-detalles p {
    margin: 5px 0;
}

.libro-detalles a {
    margin-right: 10px;
    text-decoration: none;
    color: #007BFF;
}

.libro-detalles a:hover {
    text-decoration: underline;
}
