*{
    padding: 0;
    margin: 0;
}

.contenido{
	flex: 1;
	paddinf: 20px;
}

.contenedor-superior{
	display: flex;
	justify-content: space-between;
	marging-bottom: 50px;
	margin-top: 50px;
}

.listas, .buscador{
	width: 48%;
}


.buscar input {
	margin-top: 20px;
	flex: 1;
	padding: 10px;
	margin-right: 10px;
	border-radius: 5%;
}

.buscar button{
	padding: 10px 20px;
}

.resenia {
	margin-top: 50px;
	margin-bottom: 40px;
	width: 100%;
	align-items: center;
}

.resenia a{
	margin-top: 20px;
	text-align: center;
}


