*{
    padding: 0;
    margin: 0;
}

body {
	background-color: #eee;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-menu {
	display: flex; /*flex para que estén todos en horizontal, en una fila*/
	justify-content: space-around; /*espacio entre los elementos*/
	align-items: center;
	paddin: 20px;
	margin-botom: 30px;
	margin-top: 10px;
}

.menu{
    border: 1px solid black;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: #000;
}



.menu:hover{
    background-color: rgb(223, 236, 169);
}

main {
	display: flex;
	justify-content: space-betwee; /*distribuye los dos párrafos*/
	align-items: flex-start; /*Alinéa los dos párrafos al inicio*/
	paddin: 20px;
	margin-botom: 50px;
	margin-top: 10px;
	gaap: 20px; /*Espacio entre los dos articles.*/
}

main article {
	flex: 1; /*Para que cada article tome el mismo espacio*/
	padding: 10px; /*este es el espacio interno de los article!*/
	text-align: justify;
	
}

.sidebar{
    padding: 30px; /*Separo los dos párrafos*/
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0;
    text-align: justify;
    border: 2px solid black; 
    box-sizing: border-box; /*con esto se asegura que el padding y los bordes se incluyan en el tamaño total del elemento para que el borde no aumente 
    el tamaño total del elemento más allá de lo que se ha especificado.*/
}

.sidebar a{
	text-decoration: dotted;
}


