*{
    padding: 0;
    margin: 0;
}

.contenido{
	flex: 1;
	paddinf: 20px;
}

.contenedor-superior{
	display: flex;
	justify-content: space-between;
	marging-bottom: 30px;
	margin-top: 50px;
	gap: 70px;
}

.buscador, .resenia {
	width: 48%;
}

.buscar select {
	margin-top: 20px;
	flex: 1;
	padding: 10px;
	margin-right: 10px;
	border-radius: 5%;
}

.resenia {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 50px;
	width: 100%;
	align-items: center;
	justify-content: justify;
	
}

.resenia a{
	margin-top: 40px;
	text-align: center;
	font-size: 2.5em;
	color:#b58585;
	text-decoration: none;
}

.resenia a:hover {
	color: #9f0f0f;
}

#listaLibros{
	marging-top: 50px;
	margin-right: 50px;
	list-style-type: none;
	
}

#listaLibros h3 {
	margin-top: 40px;
	margin-bottom: 10px;
}

#listaLibros p{
	tetx-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
}

#listaLibros img{
	width: 300px;
	height:400px;
}
