*{
	padding: 0;
	margin: 0;
}

h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tabla {
	width: 80%;
	margin: 20px auto; 
	border-collapse: collapse;
	text-align: left;
}

.tabla th, .tabla td{
	padding: 10px;
	border: 1px solid #ddd;
}

.tabla tr:hover{
	background-color: #f1f1f1;
}

.tabla a{
	text-decoration: none;
	color: #333;
}

.tabla a:hover{
	color: #007BFF;
}

.listado{
	text-align: center;
}

